In [1]:
#STRING BASED ASSIGNMENT PROBLEMS

In [2]:
#1. Write a program to reverse a string.

string = ("Kuldip")
r_string = string[::-1]
print(r_string)

pidluK

In [14]:
#2. Check if a string is a palindrome.

string = ("Kuldip Rangpara")
l_string = string.lower()
r_string = l_string.replace(" ", "")
r1_string = r_string[::-1]

if r_string == r1_string :
    print("It's a Palindrome")
else:
    print("It's not a Palindrome")

It's not a Palindrome

In [5]:
#3. Convert a string to uppercase.

string = ("kuldip rangpara")
u_string = string.upper()
print(u_string)

KULDIP RANGPARA

In [6]:
#4. Convert a string to lowercase.

string = ("KULDIP RANGPARA")
l_string = string.lower()
print(l_string)

kuldip rangpara

In [9]:
#5. Count the number of vowels in a string.

string = ("My name is Kuldip")
vowels = "aeiouAEIOU"
vowel_count = 0

for char in string :
    if char in vowels :
        vowel_count += 1
        
print(vowel_count)

5

In [10]:
#6. Count the number of consonants in a string.

string = ("My name is Kuldip")
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
consonant_count = 0

for char in string:
    if char in consonants:
        consonant_count += 1
        
print(consonant_count)

9

In [13]:
#7. Remove all whitespaces from a string.

string = ("My name    is  kuldip")
w_string = string.replace(" ", "")
print(w_string)

Mynameiskuldip

In [15]:
#8. Find the length of a string without using the `len()` function.

string = ("kuldip rangpara")
s_length = 0

for char in string :
    s_length += 1
    
print(s_length)

15

In [1]:
#9. Check if a string contains a specific word.

string = ("My name is Kuldip")
find_word = ("name")

if find_word in string :
    print("Yes, the specific word is in a string")
else:
    print("No, the specific word is not in a string")

Yes, the specific word is in a string

In [2]:
#10. Replace a word in a string with another word.

string = ("PUBG is a amazing game")
replace_word = string.replace("PUBG","BGMI")
print(replace_word)

BGMI is a amazing game

In [3]:
#11. Count the occurrences of a word in a string.

string = ("PUBG is my favourite game and I play this game a lot in holidays")
count_word = string.count("game")
print(count_word)

2

In [30]:
#12. Find the first occurrence of a word in a string.

text = "This is an example sentence. This is a word in the sentence."

word = 'example'
position = text.find(word)

if position != -1:
    print(f"the word {word} is first appears at {position} position")
else:
    print(f"the word {word} is not appears at {position} position")

the word example is first appears at 11 position

In [35]:
#13. Find the last occurrence of a word in a string.

text = "This is an example sentence. This is a word in the sentence. This is the last word."

word = "example"
position = text.rfind(word)

if position != -1:
    print(f"The last occurrence of the word '{word}' is at position {position}.")
else:
    print(f"The word '{word}' was not found in the text.")

The last occurrence of the word 'example' is at position 11.

In [10]:
#14. Split a string into a list of words.

string = ("I have a two pen")
s_string = string.split()
print(s_string)

['I', 'have', 'a', 'two', 'pen']

In [11]:
#15. Join a list of words into a string.

string = ['I', 'have', 'a', 'two', 'pen']
j_string = ' '.join(string)
print(j_string)

I have a two pen

In [16]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

string = ("I have a computer")
u_string = string.replace(' ', '_')
print(u_string)

I_have_a_computer

In [1]:
#17. Check if a string starts with a specific word or phrase.

string = ("my name is Kuldip")
s_string = string.startswith("my")
print(s_string)

True

In [3]:
#18. Check if a string ends with a specific word or phrase.

string = ("my name is Kuldip")
e_string = string.endswith("my")
print(e_string)

False

In [4]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

string = ("good morning")
t_string = string.title()
print(t_string)

Good Morning

In [6]:
#20. Find the longest word in a string.

string = ("Welcome to my home")
s = string.split()
max = 0

for element in s:
    if len(element)>max:
        max=len(element)
        max_word=element
print("Longest word in string:", max_word)

Longest word in string: Welcome

In [1]:
#21. Find the shortest word in a string.

string = ("My name is Kuldip")
s = string.split()
min_word = len(s[0])
min_word_final = ""

for element in s:
    if len(element)<min_word:
        minword=len(element)
        min_word_final=element
print("Smallest word in string:", min_word_final)

Smallest word in string:

In [2]:
#22. Reverse the order of words in a string.

string = ("reverse the string using the python")

split_word = string.split()
reverse_string = split_word[::-1]
reverse_string = ' '.join(reverse_string)

print(reverse_string)

python the using string the reverse

In [3]:
#23. Check if a string is alphanumeric.

string = ("kuldip123")

if string.isalnum():
  print("string is alphanumeric")
else:
  print("string is not aphanumeric")

string is alphanumeric

In [18]:
#24. Extract all digits from a string.


string = ("I have 500 dollar")
extracted_digit = ""

for i in string:
    if i.isdigit():
        extracted_digit += i

print(extracted_digit)

500

In [1]:
#25. Extract all alphabets from a string.


string = ("I have 500 dollar")
extracted_alphabets = ""

for i in string:
    if i.isalpha():
        extracted_alphabets += i

print(extracted_alphabets)

Ihavedollar

In [2]:
#26. Count the number of uppercase letters in a string.


string = ("Hi Everyone")
uppercase_count = 0

for i in string:
    if i.isupper():
        uppercase_count += 1

print(uppercase_count)

2

In [3]:
#27. Count the number of lowercase letters in a string.

string = ("Hi Everyone")
lowercase_count = 0

for i in string:
    if i.islower():
        lowercase_count += 1

print(lowercase_count)

8

In [4]:
#28. Swap the case of each character in a string.

string = ("My name is Kuldip")
swapped_string = string.swapcase()

print(swapped_string)

mY NAME IS kULDIP

In [5]:
#29. Remove a specific word from a string.

string = ("My name is Kuldip")
removed_word = "is" 

final_string = string.replace(removed_word, "")

print(final_string)

My name  Kuldip

In [6]:
#30. Check if a string is a valid email address


import re

email = "kuldip123@email.com"
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

if re.match(pattern, email):
    print(f"{email} is valid email adress")
else:
    print(f"{email} is not valid email adress")

kuldip123@email.com is valid email adress

In [8]:
#31. Extract the username from an email address string.


email = "kuldip123@email.com"
part = email.split("@")

if len(part) == 2:
    username = part[0]
    print("Username :", username)
else:
    print("Invalid email adress")

Username : kuldip123

In [9]:
#32. Extract the domain name from an email address string.

email = "kuldip123@email.com"
part = email.split("@")

if len(part) == 2:
    domain = part[1]
    print("Domain name :", domain)
else:
    print("Invalid email adress")

Domain name : email.com

In [1]:
#33. Replace multiple spaces in a string with a single space.


import re

string = ("There    are   so many  spaces   in sentence")
final_string = re.sub(r'\s+', ' ', string)

print(final_string)

There are so many spaces in sentence

In [4]:
#34. Check if a string is a valid URL.


from urllib.parse import urlparse

url = "https://green-architect-ojwfl.pwskills.app/lab/tree/work/20.ipynb"
parsed_url = urlparse(url)

if parsed_url.scheme and parsed_url.netloc:
    print(f"{url} is valid URL")
else:
    print(f"{url}is not valid URL")

https://green-architect-ojwfl.pwskills.app/lab/tree/work/20.ipynb is valid URL

In [5]:
#35. Extract the protocol (http or https) from a URL string.


from urllib.parse import urlparse

url = "https://colab.research.google.com/drive/1vacywrnAbOTjus5q5BPoSjGVLxS-byBL#scrollTo=RdQKwjo7-qH-"

parsed_url = urlparse(url)
protocol = parsed_url.scheme

print(protocol)

https

In [1]:
#36. Find the frequency of each character in a string.


string = ("Kuldip Rangpara")
frequency_dict = {}

for char in string:
    if char in frequency_dict:
        frequency_dict[char] += 1
    else:
        frequency_dict[char] = 1

for char, count in frequency_dict.items():
    print(f"'{char} :'{count}")

'K :'1
'u :'1
'l :'1
'd :'1
'i :'1
'p :'2
'  :'1
'R :'1
'a :'3
'n :'1
'g :'1
'r :'1

In [2]:
#37. Remove all punctuation from a string.


import string

input_string = ("My, name, is! Kuldip")
translator = str.maketrans('','', string.punctuation)
final_string = input_string.translate(translator)

print(final_string)

My name is Kuldip

In [3]:
#38. Check if a string contains only digits


string = ("Kuldip123")

if string.isdigit():
    print("string contains digits")
else:
    print("string cotains non-digits char")

string cotains non-digits char

In [4]:
#39. Check if a string contains only alphabets.


string = ("Kuldip123")

if string.isalpha():
    print("string contains alphabets")
else:
    print("string contain non_alphabets char")

string contain non_alphabets char

In [5]:
#40. Convert a string to a list of characters.


string = ("Hi everyone")

list_char = list(string)

print(list_char)

['H', 'i', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e']

In [7]:
#41. Check if two strings are anagrams


string1 = ("cut")
string2 = ("put")

string1 = string1.replace(" ", "").lower()
string2 = string2.replace(" ", "").lower()

if sorted(string1) == sorted(string2):
    print(f"{string1} and {string2} are anagrams")
else:
    print(f"{string1} and {string2} are not anagrams")

cut and put are not anagrams

In [1]:
#42. Encode a string using a Caesar cipher.

In [2]:
#43. Decode a Caesar cipher encoded string.

In [2]:
#44. Find the most frequent word in a string.


string = ("on on on the most the time time")
list_word = string.split()
freq_word = {}

for word in list_word:
    if word not in freq_word:
        freq_word[word] = 1
    else:
        freq_word[word] +=1

most_freq_word = max(freq_word, key=freq_word.get)

print(most_freq_word)

on

In [1]:
#45. Find all unique words in a string.


string = ("there are so many words in in in this this this so so sentence")
words = string.split()
unique_word = []

for word in words:
    word = ''.join(e for e in word if e.isalnum())
    word = word.lower()
    if word not in unique_word:
        unique_word.append(word)

print(unique_word)

['there', 'are', 'so', 'many', 'words', 'in', 'this', 'sentence']

In [1]:
#46. Count the number of syllables in a string

text = "Count the number of syllables in a string"
words = text.split()  

total_syllables = 0
for word in words:
    word = word.lower()
    count = 0
    vowels = "aeiouy"

    if word[0] in vowels:
        count += 1

    for i in range(1, len(word)):
        if word[i] in vowels and word[i - 1] not in vowels:
            count += 1

    if word.endswith("e"):
        count -= 1

    total_syllables += max(1, count) 

print(f"The total number of syllables in the string is {total_syllables}.")

The total number of syllables in the string is 11.

In [1]:
#47. Check if a string contains any special characters.

string = ("kuldip123$")
word = string.split()

valid_char = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789")

special_char_found = False

for word in string:
    if word not in valid_char:
        special_char_found = True
        break

if special_char_found :
    print("string contains special characters")
else :
    print("string does not contains special characters")

string contains special characters

In [2]:
#48. Remove the nth word from a string.

string = ("I am the Iron man")
words = string.split()
n = 2

if 0 <= n < len(words):
    del words[n]
    result_string=' '.join(words)
    print(result_string)
else :
    print(string)

I am Iron man

In [2]:
#49. Insert a word at the nth position in a string.

original_string = "This is a sample string."

word_to_insert = "great"
position = 8

if position < 0 or position > len(original_string):
    print("Invalid position")
else:
    new_string = original_string[:position] + word_to_insert + original_string[position:]
    print(new_string)

This is greata sample string.

In [3]:
#50. Convert a CSV string to a list of lists.

import csv
from io import StringIO

csv_string = ("John,Doe,30\nJane,Smith,25\nBob,Johnson,40")

data = []

csv_reader = csv.reader(StringIO(csv_string))

for row in csv_reader:
    data.append(row)

print(data)

[['John', 'Doe', '30'], ['Jane', 'Smith', '25'], ['Bob', 'Johnson', '40']]

In [4]:
#list based practice problem

In [5]:
#1. Create a list with integers from 1 to 10.


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#2. Find the length of a list without using the `len()` function.


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0

for i in my_list:
    count += 1

print("Length of list:" ,count)

Length of list: 10

In [1]:
#3. Append an element to the end of a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.append(11)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [2]:
#4. Insert an element at a specific index in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_list.insert(4, 88)

print(my_list)

[1, 2, 3, 4, 88, 5, 6, 7, 8, 9, 10]

In [3]:
#5. Remove an element from a list by its value.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_list.remove(3)

print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#6. Remove an element from a list by its index.


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

removed_element = my_list.pop(3)

print("new list:" ,my_list)
print("removed element:" ,removed_element)

new list: [1, 2, 3, 5, 6, 7, 8, 9, 10]
removed element: 4

In [5]:
#7. Check if an element exists in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

if 5 in my_list:
    print("Element 5 exists in my list")
else:
    print("Element 5 does not exists in my list")

Element 5 exists in my list

In [6]:
#8. Find the index of the first occurrence of an element in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

index = my_list.index(10)

print("first occurrence of 10:" , index)

first occurrence of 10: 9

In [11]:
#9. Count the occurrences of an element in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 5, 5, 8, 9, 10]

count = my_list.count(5)

print("Occurrences count:", count)

Occurrences count: 3

In [12]:
#10. Reverse the order of elements in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 5, 5, 8, 9, 10]

reversed_list = my_list[::-1]

print(reversed_list)

[10, 9, 8, 5, 5, 7, 6, 5, 4, 3, 2, 1]

In [13]:
#11. Sort a list in ascending order.

my_list = [2, 4, 2, 6, 8, 5]

my_list.sort()

print(my_list)

[2, 2, 4, 5, 6, 8]

In [15]:
#12. Sort a list in descending order.

my_list = [2, 4, 2, 6, 8, 5]

my_list.sort(reverse=True)

print(my_list)

[8, 6, 5, 4, 2, 2]

In [1]:
#13. Create a list of even numbers from 1 to 20.

even_numbers = [x for x in range(1,21) if x % 2 ==0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
#14. Create a list of odd numbers from 1 to 20.

odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
#15. Find the sum of all elements in a list

my_list = [1, 2, 3, 4, 5, 6, 7, 5, 5, 8, 9, 10]

total_sum = sum(my_list)

print("total sum:" ,total_sum)

total sum: 65

In [4]:
#16. Find the maximum value in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 5, 5, 8, 9, 10]

maximum_value = max(my_list)

print("maximum value:" ,maximum_value)

maximum value: 10

In [5]:
#17. Find the minimum value in a list.

my_list = [1, 2, 3, 4, 5, 6, 7, 5, 5, 8, 9, 10]

min_value = min(my_list)

print("minimum value:" ,min_value)

minimum value: 1

In [6]:
#18. Create a list of squares of numbers from 1 to 10

squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#19. Create a list of random numbers.

random_list = [2, 4, 66, 55, 5, 5, 2, 66, 8, 9, 9, 3, 3]

In [8]:
#20. Remove duplicates from a list

random_list = [2, 4, 66, 55, 5, 5, 2, 66, 8, 9, 9, 3, 3] 

unique_set = set(random_list)
unique_list = list(unique_set)

print(unique_list)

[2, 66, 4, 5, 3, 8, 9, 55]

In [9]:
#21. Find the common elements between two lists

list1 = [2,3,4,6,7,8]
list2 = [2,3,6,8,4,4,9]

set1 = set(list1)
set2 = set(list2)
common_elements = (set1 & set2)

print(common_elements)

{2, 3, 4, 6, 8}

In [2]:
#22. Find the difference between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = set(list1)
set2 = set(list2)
difference_set1 = set1 - set2
difference_set2 = set2 - set1

difference_list1 = list(difference_set1)
difference_list2 = list(difference_set2)

print(difference_list1)
print(difference_list2)

[1, 2]
[6, 7]

In [3]:
#23. Merge two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [4]:
#24. Multiply all elements in a list by 2

list = [1, 2, 3, 4, 5]

result_list = [x * 2 for x in list]
print(result_list)

[2, 4, 6, 8, 10]

In [7]:
#25. Filter out all even numbers from a list

list = [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

odd_numbers = [item for item in list if item % 2 != 0]

print(odd_numbers)

[1, 3, 5, 3, 5, 7]

In [1]:
#26. Convert a list of strings to a list of integers.

string_list = ["1", "2", "3", "4", "5"]
int_list = []

for i in string_list:
    int_list.append(int(i))

print(int_list)

[1, 2, 3, 4, 5]

In [2]:
#27. Convert a list of integers to a list of strings

int_list = [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]
string_list = []

for i in int_list:
    string_list.append(str(i))

print(string_list)

['1', '2', '3', '4', '5', '3', '4', '5', '6', '7']

In [3]:
#28. Flatten a nested list.

nested_list = [1, [2, 3], [4, [5, 6]], 7]

flat_list = []
stack = [nested_list]

while stack:
    current_element = stack.pop()
    if isinstance(current_element, list):
        stack.extend(current_element)
    else:
        flat_list.append(current_element)

print(flat_list)

[7, 6, 5, 4, 3, 2, 1]

In [3]:
#29. Create a list of the first 10 Fibonacci numbers.

fibonacci_list = [0, 1]

for i in range(8):
    fibonacci_numbers = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(fibonacci_numbers)
    
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
my_list = [1, 2, 3, 4, 5]

sorted_list = True

for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1] :
        sorted_list = False
    break
    
if sorted_list:   
    print("list is sorted")
else:
    print("list is not sorted")

list is sorted

In [1]:
#31. Rotate a list to the left by `n` positions.


my_list = [1,2,3,4,5]
n = 2

n = n % len(my_list)

rotated_list = my_list[n:] + my_list[:n]

print(rotated_list)

[3, 4, 5, 1, 2]

In [1]:
#32. Rotate a list to the right by `n` positions.

my_list = [1,2,3,4,5]
n = 2

n = n % len(my_list)

first_part = my_list[-n:]
second_part = my_list[:-n]

rotated_list_right = first_part + second_part

print(rotated_list_right)

[4, 5, 1, 2, 3]

In [2]:
#33. Create a list of prime numbers up to 50.

prime_numbers = []

for num in range(2, 51):
    is_prime = True

    for divisor in range(2, int(num ** 0.5) + 1):
        if num % divisor == 0:
            is_prime = False
            break

    if is_prime :
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
#34. Split a list into chunks of size `n`.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunks = []

for i in range(0 , len(my_list), n):
    chunk = my_list[i:i + n]
    chunks.append(chunk)

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [1]:
#35. Find the second largest number in a list.

numbers = [10, 20, 33, 25, 29, 50]

largest = numbers[0]
sec_largest = numbers[0]

for i in range(len(numbers)):
    if numbers[i]>largest:
        largest = numbers[i]

for i in range(len(numbers)):
    if numbers[i]>sec_largest and numbers[i] != largest:
        sec_largest = numbers[i]

print(sec_largest)

33

In [3]:
#36. Replace every element in a list with its square.

my_list = [1,2,3,4,5,6,7]

for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

print(my_list)

[1, 4, 9, 16, 25, 36, 49]

In [1]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ["apple", "banana", "cherry", "date"]

my_dict = {element : index for index, element in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [2]:
#38. Shuffle the elements of a list randomly.

import random

my_list = [1,2,3,4,5,6,7]

random.shuffle(my_list)

print(my_list)

[4, 3, 5, 6, 7, 2, 1]

In [2]:
#39. Create a list of the first 10 factorial 


factorial_list = []

for n in range(1, 11):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    factorial_list.append(factorial)

print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [3]:
#40. Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_element = False

for item in list1:
    if item in list2:
        common_element = True
        break

if common_element:
    print("The two list at least have one common elements")
else:
    print("The two list not have common elements")

The two list at least have one common elements

In [4]:
#41. Remove all elements from a list.

my_list = [1, 2, 3, 4, 5]

my_list.clear()

print(my_list)

[]

In [1]:
#42. Replace negative numbers in a list with 0.

my_list = [1, -2, 3, -4, 5, -6, 7]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5, 0, 7]

In [2]:
#43. Convert a string into a list of words.

string = ("this is my list")

word_list = string.split()

print(word_list)

['this', 'is', 'my', 'list']

In [3]:
#44. Convert a list of words into a string.

word_list = ['this', 'is', 'my', 'list']

string = ' '.join(word_list)

print(string)

this is my list

In [4]:
#45. Create a list of the first `n` powers of 2.

n = 10

power_of_2 = []

for i in range(n):
    power_of_2.append(2 ** i)

print(power_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [2]:
#46. Find the longest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

max_length = 0
longest_string = []

for i in string_list:
    if len(i) > max_length:
        max_length = len(i)
        longest_string = i
        
print("Longest string:",longest_string)

Longest string: elderberry

In [4]:
#47. Find the shortest string in a list of strings

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]

for i in string_list:
    if len(i) < len(shortest_string):
        shortest_string = i

print("Shortest_string:", shortest_string)

Shortest_string: date

In [5]:
#48. Create a list of the first `n` triangular numbers.

n = 10

triangular_numbers = []

sum = 0
for i in range(1, n+1):
    sum += i
    triangular_numbers.append(sum)

print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [5]:
#49. Check if a list contains another list as a subsequence.

main_list = [1, 2, 3, 4, 5, 6, 7, 8]

subsequence = [2, 4, 6]

main_index = 0
sub_index = 0

while main_index < len(main_list) and sub_index < len(subsequence):
    if main_list[main_index] == subsequence[sub_index]:
        sub_index += 1
    main_index += 1

if sub_index == len(subsequence):
    print("subsequence found in main list")
else:
    print("subsequence not found in main list")

subsequence found in main list

In [6]:
#50. Swap two elements in a list by their indices.

my_list = [10, 20, 30, 40, 50]

index1 = 1
index2 = 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    temp = my_list[index1]
    my_list[index1] = my_list[index2]
    my_list[index2] = temp
    print(my_list)
else:
    print("Invalid indices")

[10, 40, 30, 20, 50]

In [2]:
#Tuple Based Practice Problem :

In [3]:
#1. Create a tuple with integers from 1 to 5

my_tuple = (1,2,3,4,5)

In [4]:
#2. Access the third element of a tuple

my_tuple = (1,2,3,4,5)

third_element = my_tuple[2]

print(third_element)

3

In [7]:
#3. Find the length of a tuple without using the `len()` function.

my_tuple = (1,2,3,4,5)
count = 0

for _ in my_tuple:
    count += 1
    
print("Length:",count)

Length: 5

In [8]:
#4. Count the occurrences of an element in a tuple.

my_tuple = (1, 2, 2, 3, 4, 2, 5)
count_element = 2

element_appers = my_tuple.count(count_element)

print(element_appers)

3

In [9]:
#5. Find the index of the first occurrence of an element in a tuple.

my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_find = 2

if element_to_find in my_tuple:
    index = my_tuple.index(element_to_find)
    print(f"the element {element_to_find} is at index {index}")
else:
    print("element not found")

the element 2 is at index 1

In [10]:
#6. Check if an element exists in a tuple

my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_check = 4

if element_to_check in my_tuple:
    print("Element exist")
else:
    print("Element does not exist")

Element exist

In [11]:
#7. Convert a tuple to a list.

my_tuple = (1, 2, 2, 3, 4, 2, 5)

my_list = list(my_tuple)

print(my_list)

[1, 2, 2, 3, 4, 2, 5]

In [12]:
#8. Convert a list to a tuple.

my_list = [1, 2, 2, 3, 4, 2, 5]

my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 2, 3, 4, 2, 5)

In [13]:
#9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)

var1, var2, var3 = my_tuple

print(var1)
print(var2)
print(var3)

1
2
3

In [14]:
#10. Create a tuple of even numbers from 1 to 10.

even_numbers = ()

for i in range(1,11):
    if i % 2 == 0:
        even_numbers += (i,)

print(even_numbers)

(2, 4, 6, 8, 10)

In [15]:
#11. Create a tuple of odd numbers from 1 to 10.

odd_numbers = ()

for i in range(1,11):
    if i % 2 != 0:
        odd_numbers += (i,)
        
print(odd_numbers)

(1, 3, 5, 7, 9)

In [1]:
#12. Concatenate two tuples.

my_tuple1 = (1, 2, 3)
my_tuple2 = (4, 5, 6)

joined_tuple = my_tuple1 + my_tuple2

print(joined_tuple)

(1, 2, 3, 4, 5, 6)

In [2]:
#13. Repeat a tuple three times.

my_tuple = (1, 2, 3)

repeated_tuple = my_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [3]:
#14. Check if a tuple is empty.

my_tuple = ()

if not my_tuple:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [4]:
#15. Create a nested tuple.

nested_tuple = ((1, 2), (3, 4, 5), (6,))

print(nested_tuple)

((1, 2), (3, 4, 5), (6,))

In [5]:
#16. Access the first element of a nested tuple.

nested_tuple = ((1, 2), (3, 4, 5), (6,))

first_element = nested_tuple[0][0]

print(first_element)

1

In [6]:
#17. Create a tuple with a single element.

single_element_tuple = (23,)

In [1]:
#18. Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

#method 1 (==):
if tuple1 == tuple2:
    print("The two tuple are equal")
else:
    print("The two tuple are not equal")

#method 2 (!=) :
if tuple1 != tuple2:
    print("The two tuple are not equal")
else:
    print("The two tuple are equal")

#method 3 (<)  :
if tuple1 < tuple2:
    print("The tuple1 is less than tuple2")
else:
    print("The tuple1 is not less tham tuple2")

The two tuple are not equal
The two tuple are not equal
The tuple1 is less than tuple2

In [5]:
#19. Delete a tuple.

my_tuple = (1, 2, 3)

del my_tuple

In [6]:
#20. Slice a tuple.

my_tuple = (1, 2, 3, 4, 5, 6)

new_tuple = my_tuple[3:5]

print(new_tuple)

(4, 5)

In [7]:
#21. Find the maximum value in a tuple.

my_tuple = (1, 2, 3, 4, 5, 6)

max_value = max(my_tuple)

print(max_value)

6

In [8]:
#22. Find the minimum value in a tuple

my_tuple = (1, 2, 3, 4, 5, 6)

min_value = min(my_tuple)

print(min_value)

1

In [9]:
#23. Convert a string to a tuple of characters.

my_string = ("Im am king")

tuple_char = tuple(my_string)

print(tuple_char)

('I', 'm', ' ', 'a', 'm', ' ', 'k', 'i', 'n', 'g')

In [10]:
#24. Convert a tuple of characters to a string.

char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

string = ''.join(char_tuple)

print(string)

Hello, World!

In [2]:
#25. Create a tuple from multiple data types.

mixed_tuple = (1, "Hello", 3.14, True)

print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [3]:
#26. Check if two tuples are identical.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [5]:
#27. Sort the elements of a tuple.

my_tuple = (2,3,4,22,1,78,99,5,43)

sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 2, 3, 4, 5, 22, 43, 78, 99)

In [1]:
#28. Convert a tuple of integers to a tuple of strings.

int_tuple = (1, 2, 3, 4, 5)

str_tuple = tuple(str(i) for i in int_tuple)

print(str_tuple)

('1', '2', '3', '4', '5')

In [2]:
#29. Convert a tuple of strings to a tuple of integers.

tuple_string = ('1','2','3','4','5')

int_tuple = tuple(int(i) for i in tuple_string)

print(int_tuple)

(1, 2, 3, 4, 5)

In [3]:
#30. Merge two tuples.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [1]:
#31. Flatten a nested tuple.

nested_tuple = (1, (2, 3), (4, (5, 6)))

flat_tuple = ()

for i in nested_tuple:
    if isinstance(i, tuple):
        flat_tuple += i
    else:
        flat_tuple += (i,)

print(flat_tuple)

(1, 2, 3, 4, (5, 6))

In [2]:
#32. Create a tuple of the first 5 prime numbers.

prime_numbers = (2, 3, 5, 7, 11)

print(prime_numbers)

(2, 3, 5, 7, 11)

In [3]:
#33. Check if a tuple is a palindrome.


tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

palindrome1 = tuple1 == tuple1[::-1]
palindrome2 = tuple2 == tuple2[::-1]

print(palindrome1)
print(palindrome2)

True
False

In [1]:
#34. Create a tuple of squares of numbers from 1 to 5.

square = ()

for i in range(1, 6):
    square += (i ** 2,)

print(square)

(1, 4, 9, 16, 25)

In [2]:
#35. Filter out all even numbers from a tuple

numbers = (1,2,3,4,5,6,7,8,9)
filtered_numbers = ()

for number in numbers:
    if number % 2 != 0 :
        filtered_numbers += (number,)

filtered_tuple = tuple(filtered_numbers)

print(filtered_tuple)

(1, 3, 5, 7, 9)

In [3]:
#36. Multiply all elements in a tuple by 2.

numbers = (1,2,3,4,5,6,7,8,9)
multiply_numbers = ()

for number in numbers :
    multiply_numbers += (number * 2,)

print(multiply_numbers)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [4]:
#37. Create a tuple of random numbers.


import random

random_tuple = ()
total_elements = 8

for _ in range(total_elements):
    random_numbers = random.randint(1, 100)
    random_tuple += (random_numbers,)

random_tuple = tuple(random_tuple)

print(random_tuple)

(20, 70, 55, 76, 7, 85, 67, 48)

In [1]:
#38. Check if a tuple is sorted.


my_tuple = (1, 2, 3, 4, 5)
is_sorted = True

for i in range(len(my_tuple) - 1):
    if my_tuple[i] > my_tuple[i+1]:
        is_sorted = False
        break

if is_sorted:
    print("my_tuple is soretd")
else:
    print("my_tuple is not sorted")

my_tuple is soretd

In [2]:
#39. Rotate a tuple to the left by `n` positions.

my_tuple = (1, 2, 3, 4, 5)
n = 2

if n < 0 :
    n = len(my_tuple) + n

n = n % len(my_tuple)

rotated_tuple = my_tuple[n:] + my_tuple[:n]

print(rotated_tuple)

(3, 4, 5, 1, 2)

In [3]:
#40. Rotate a tuple to the right by `n` positions.


my_tuple = (1, 2, 3, 4, 5)
n = 2

if n < 0 :
    n = len(my_tuple) + n

n = n % len(my_tuple)

rotated_tuple = my_tuple[-n:] + my_tuple[:-n]

print(rotated_tuple)

(4, 5, 1, 2, 3)

In [4]:
#41. Create a tuple of the first 5 Fibonacci numbers.

fibonacci_tuple = (0, 1, 1, 2, 3)

In [6]:
#42. Create a tuple from user input.

user_input_list = []
n = int(input("enter the numbers of elements you wont to add in tuple"))

for i in range(n):
    element = input(f"enter elements {i + 1} :")
    user_input_list.append(element)

user_input_list = tuple(user_input_list)
print(user_input_list)

enter the numbers of elements you wont to add in tuple 3
enter elements 1 : 1
enter elements 2 : 2
enter elements 3 : 3

('1', '2', '3')

In [7]:
#43. Swap two elements in a tuple.

my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index4 = 4

my_list = list(my_tuple)

my_list[index1], my_list[index4] = my_list[index4], my_list[index1]

swapped_tuple = tuple(my_list)

print(swapped_tuple)

(1, 5, 3, 4, 2)

In [8]:
#44. Reverse the elements of a tuple.

my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

In [1]:
#45. Create a tuple of the first `n` powers of 2.

n = 10
power_of_2 = []

for i in range(n):
    power_of_2.append(2**i)

power_of_2 = tuple(power_of_2)

print(power_of_2)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [2]:
#46. Find the longest string in a tuple of strings.

tuple_of_string = ("aizen", "madara", "naruto", "sasuke", "ayanokoji")

longest_string = ""

for string in tuple_of_string:
    if len(string) > len(longest_string):
        logest_string = string

print("longest string in a tuple:", logest_string)

longest string in a tuple: ayanokoji

In [3]:
#47. Find the shortest string in a tuple of strings.

tuple_of_string = ("aizen", "madara", "naruto", "sasuke", "ayanokoji")

shortest_string = None

for string in tuple_of_string:
    if shortest_string is None or len(string) < len(longest_string):
        shortest_string = string

print("shortest string in a tuple:", shortest_string)

shortest string in a tuple: aizen

In [1]:
#48. Create a tuple of the first `n` triangular numbers.

n = 10
triangular_number = []

triangular_sum = 0

for i in range(1, n+1):
    triangular_sum += i
    triangular_number.append(triangular_sum)

triangular_number = tuple(triangular_number)

print(triangular_number)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [1]:
#49. Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (2, 4, 5)

main_len = len(main_tuple)
sub_len = len(sub_tuple)

main_pointer = 0
sub_pointer = 0

while main_pointer < main_len:
    if sub_tuple[sub_pointer] == main_tuple[main_pointer]:
        sub_pointer += 1
        if sub_pointer == sub_len :
            print("The sub_tuple is a subsequence of main_tuple")
            break
    main_pointer += 1
else:
    print("The sub_tuple is not a subsequence of main_tuple")

The sub_tuple is a subsequence of main_tuple

In [2]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

n = 10

alt_tuple_list = []

for i in range(n):
    alt_tuple_list.append(i % 2)

alt_tuple = tuple(alt_tuple_list)

print(alt_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [2]:
#Set Based Practice Problem :

In [3]:
#1. Create a set with integers from 1 to 5.

my_set = {1, 2, 3, 4, 5}

In [4]:
#2. Add an element to a set

my_set = {1,2,3,4,5}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [5]:
#3. Remove an element from a set.

my_set = {1,2,3,4,5}

my_set.remove(5)

print(my_set)

{1, 2, 3, 4}

In [6]:
#4. Check if an element exists in a set.

my_set = {1,2,3,4,5}

check_ele = 5

if check_ele in my_set:
    print("element exists")
else : 
    print("element not exists")

element exists

In [7]:
#5. Find the length of a set without using the `len()` function.

my_set = {1,2,3,4,5}

count = 0

for _ in my_set:
    count += 1

print(count)

5

In [8]:
#6. Clear all elements from a set.

my_set = {1,2,3,4,5}

my_set.clear()

print(my_set)

set()

In [9]:
#7. Create a set of even numbers from 1 to 10.

even_set = []

for i in range(1, 11):
    if i % 2 == 0:
        even_set.append(i)

even_set = set(even_set)

print(even_set)

{2, 4, 6, 8, 10}

In [10]:
#8. Create a set of odd numbers from 1 to 10.

odd_set = []

for i in range(1, 11):
    if i % 2 != 0:
        odd_set.append(i)

odd_set = set(odd_set)

print(odd_set)

{1, 3, 5, 7, 9}

In [11]:
#9. Find the union of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5, 6, 7}

In [12]:
#10. Find the intersection of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_set = set1.intersection(set2)

print(intersection_set)

{3, 4, 5}

In [14]:
#11. Find the difference between two sets.

#set1-set2
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print(difference_set)

#set2_set1
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set2.difference(set1)

print(difference_set)

{1, 2}
{6, 7}

In [15]:
#12. Check if a set is a subset of another set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

subset = set1.issubset(set2)

if subset :
    print("set1 is subset of set2")
else:
    print("set1 is not subset of set2")

set1 is subset of set2

In [16]:
#13. Check if a set is a superset of another set.


set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

superset = set1.issuperset(set2)

if superset:
    print("set1 is superset of set2")
else:
    print("set1 is not superset of set2")

set1 is not superset of set2

In [17]:
#14. Create a set from a list.

my_list = [1,2,3,4,5]

my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [18]:
#15. Convert a set to a list.

my_set = {1,2,3,4,5}

my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

In [19]:
#16. Remove a random element from a set.

my_set = {1,2,3,4,5}

random_element = my_set.pop()

print(random_element)
print(my_set)

1
{2, 3, 4, 5}

In [20]:
#17. Pop an element from a set.

my_set = {1,2,3,4,5}

popped_element = my_set.pop()

print(popped_element)
print(my_set)

1
{2, 3, 4, 5}

In [21]:
#18. Check if two sets have no elements in common

set1 = {1, 2, 3}
set2 = {4, 5, 6}

no_common_ele = set1.isdisjoint(set2)

if no_common_ele:
    print("the sets have no elements in common")
else:
    print("the sets have some elements in common")

the sets have no elements in common

In [23]:
#19. Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_diff = set1.symmetric_difference(set2)

print(symmetric_diff)

{1, 2, 6, 7}

In [24]:
#20. Update a set with elements from another set.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
#21. Create a set of the first 5 prime numbers.

prime_numbers = {2, 3, 5, 7, 11}

In [26]:
#22. Check if two sets are identical.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

if set1 == set2 :
    print("sets are identical")
else:
    print("sets are not identical")

sets are not identical

In [27]:
#23. Create a frozen set.

my_set = {1, 2, 3, 4, 5}

frozen_set = frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [29]:
#24. Check if a set is disjoint with another set.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

if set1.isdisjoint(set2) :
    print("set1 have no common elements in set2")
else:
    print("set1 have some common elements in set2")

set1 have some common elements in set2

In [30]:
#25. Create a set of squares of numbers from 1 to 5.

squares_numbers = set()

for i in range(1, 6):
    square = i ** 2
    squares_numbers.add(square)

print(squares_numbers)

{1, 4, 9, 16, 25}

In [1]:
#26. Filter out all even numbers from a set.

my_set = {1, 2, 3, 4, 5}

filtered_set = set()

for i in my_set:
    if i % 2 != 0:
        filtered_set.add(i)

print(filtered_set)

{1, 3, 5}

In [2]:
#27. Multiply all elements in a set by 2.

my_set = {1, 2, 3, 4, 5}

multiply_set = set()

for i in my_set:
    multiply_set.add(i*2)

print(multiply_set)

{2, 4, 6, 8, 10}

In [3]:
#28. Create a set of random numbers.

import random

my_set = set()

for _ in range(10):
    random_numbers = random.randint(1, 100)
    my_set.add(random_numbers)

print(my_set)

{3, 9, 10, 11, 45, 19, 52, 88, 89, 94}

In [4]:
#29. Check if a set is empty.

my_set = {1, 2, 3, 4, 5}

if len(my_set) == 0:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

In [5]:
#30. Create a nested set (hint: use frozenset).

my_set = {1,2,3}

nested_set = frozenset(my_set)

print(nested_set)

frozenset({1, 2, 3})

In [6]:
#31. Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}

my_set.discard(4)

print(my_set)

{1, 2, 3, 5}

In [7]:
#32. Compare two sets

set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2 :
    print("sets are equal")
else:
    print("sets are not equal")

sets are equal

In [8]:
#33. Create a set from a string.

my_string = ("Naruto")

my_set = set()

for char in my_string:
    my_set.add(char)

print(my_set)

{'a', 'r', 'o', 't', 'u', 'N'}

In [9]:
#34. Convert a set of strings to a set of integers.

string_set = {"1", "2", "3", "4", "5"}

int_set = {int(s) for s in string_set}

print(int_set)

{1, 2, 3, 4, 5}

In [10]:
#35. Convert a set of integers to a set of strings.

int_set = {1, 2, 3, 4, 5}

string_set = {str(num) for num in int_set}

print(string_set)

{'2', '3', '1', '5', '4'}

In [11]:
#36. Create a set from a tuple.

my_tuple = (1,2,3,4,5)

my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [12]:
#37. Convert a set to a tuple.

my_set = {1, 2, 3, 4, 5}

my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [13]:
#38. Find the maximum value in a set.

my_set = {1, 2, 3, 4, 5}

max_value = max(my_set)

print(max_value)

5

In [14]:
#39. Find the minimum value in a set.

my_set = {1,2,3,4,5}

min_value = min(my_set)

print(min_value)

1

In [15]:
#40. Create a set from user input.


user_input = input("enter the set elements")
user_set_list = user_input.split()

user_set = set(user_set_list)

print(user_set)

enter the set elements 1,2,3,4,5

{'1,2,3,4,5'}

In [18]:
#41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty (they have no elements in common).")
else:
    print("The intersection of set1 and set2 is not empty (they have some elements in common).")

The intersection of set1 and set2 is not empty (they have some elements in common).

In [19]:
#42. Create a set of the first 5 Fibonacci numbers

fibonacci_set = set()

a,b = 0,1

for _ in range(6):
    fibonacci_set.add(a)
    a,b = b,a+b

print(fibonacci_set)

{0, 1, 2, 3, 5}

In [20]:
#43. Remove duplicates from a list using sets.

my_list = [1, 2, 2, 3, 4, 4, 5, 5]

my_set = set(my_list)

unique_list = list(my_set)

print(unique_list)

[1, 2, 3, 4, 5]

In [21]:
#44. Check if two sets have the same elements, regardless of their count

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

if set1 == set2:
    print("two sets have common elements (regardless of their count)")
else:
    print("two sets do not have  common elemnets")

two sets do not have  common elemnets

In [22]:
#45. Create a set of the first `n` powers of 2.

n = 7

power_2 = set()

for i in range(n):
    power_2.add(i ** 2)

print(power_2)

{0, 1, 4, 36, 9, 16, 25}

In [23]:
#46. Find the common elements between a set and a list.

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)

print(common_elements)

{3, 4, 5}

In [26]:
#47. Create a set of the first `n` triangular numbers.

n = 8

triangular_set = set()

for i in range(1, n+1):
    triangular_number = (i * (i +1) // 2)
    triangular_set.add(triangular_number)

print(triangular_set)

{1, 3, 36, 6, 10, 15, 21, 28}

In [27]:
#48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

if set1.issubset(set2):
    print("set1 is subset of set2")
else:
    print("set1 is not subset of set2")

set1 is not subset of set2

In [28]:
#49. Create a set of alternating 1s and 0s of length `n`.

n = 12

alternating_set = set()

for i in range(n):
    alternating_set.add(i % 2)

print(alternating_set)

{0, 1}

In [29]:
#50. Merge multiple sets into one

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

merged_set = set1 | set2

print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8}